n8n/candidate_resume_to_questions.json
{
  "name": "PrepAI Candidate Resume to Questions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-to-questions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "prepare"
            },
            {
              "name": "resume_text",
              "value": "={{ $json.body.resume || $json.body.resume_text || '' }}"
            },
            {
              "name": "jd_text",
              "value": "={{ $json.body.jd || $json.body.jd_text || $json.body.job_description || '' }}"
            }
          ]
        }
      },
      "id": "http",
      "name": "PrepAI Prepare",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "PrepAI Prepare", "type": "main", "index": 0 }]]
    },
    "PrepAI Prepare": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  }
}
