n8n/Interview Prep Assistant (Form Submission).json
{
  "name": "Interview Prep Assistant (Form Submission)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interview-prep",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 200],
      "id": "a2ac17f4-1e14-4e4a-860a-12b7c8b5cf07",
      "name": "Webhook Submission",
      "webhookId": "b6603404-e2a5-4b50-b5e9-3c88eb753f2f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "profile_id",
              "value": "={{ $json.body['profile_id'] || '' }}",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "candidate_name",
              "value": "={{ $json.body['Your name'] || '' }}",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "candidate_email",
              "value": "={{ $json.body['Email'] || '' }}",
              "type": "string"
            },
            {
              "id": "s4",
              "name": "role",
              "value": "={{ $json.body[\"Role you're applying for\"] || '' }}",
              "type": "string"
            },
            {
              "id": "s5",
              "name": "resume_text",
              "value": "={{ $json.body['Resume text'] || '' }}",
              "type": "string"
            },
            {
              "id": "s6",
              "name": "jd_text",
              "value": "={{ $json.body['Or paste job description text'] || $json.body['jd_text'] || '' }}",
              "type": "string"
            },
            {
              "id": "s7",
              "name": "additional_notes",
              "value": "={{ $json.body['Additional notes'] || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 200],
      "id": "2514e139-3299-4f39-9e87-1dca388f483a",
      "name": "Standardize Input"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a technical recruiter evaluating candidate fit for a job role. Analyze the resume against the job description carefully. Respond with ONLY a raw JSON object — no markdown, no code blocks, no extra text."
            },
            {
              "content": "=Evaluate whether this candidate is a good fit for the role.\n\nRole: {{ $json.role }}\n\nJob Description:\n{{ $json.jd_text }}\n\nResume:\n{{ $json.resume_text }}\n\nAdditional Notes:\n{{ $json.additional_notes }}\n\nBe generous: if the candidate has relevant experience in the field or adjacent skills, mark them as qualified. Return exactly this JSON:\n{\"qualified\": true, \"reason\": \"One sentence explaining the fit\"}\nor\n{\"qualified\": false, \"reason\": \"One sentence explaining the mismatch\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [480, 200],
      "id": "openai-qualify-001",
      "name": "Qualify Candidate",
      "credentials": {
        "openAiApi": {
          "id": "jSTot0m8NRHUoumT",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-qualified",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "\"qualified\": true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 200],
      "id": "if-qualified-001",
      "name": "Candidate Qualified?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RYHD4BzieH6r5nEN",
          "mode": "list",
          "cachedResultUrl": "/workflow/RYHD4BzieH6r5nEN",
          "cachedResultName": "Interview Guide Classifier and Notifier"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Profile ID": "={{ $('Standardize Input').item.json.profile_id }}",
            "Name": "={{ $('Standardize Input').item.json.candidate_name }}",
            "Email": "={{ $('Standardize Input').item.json.candidate_email }}",
            "Role": "={{ $('Standardize Input').item.json.role }}",
            "Job Description": "={{ $('Standardize Input').item.json.jd_text }}",
            "Resume": "={{ $('Standardize Input').item.json.resume_text }}",
            "Additional Notes": "={{ $('Standardize Input').item.json.additional_notes }}"
          },
          "matchingColumns": ["Name"],
          "schema": [
            {"id": "Profile ID", "displayName": "Profile ID", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false},
            {"id": "Name", "displayName": "Name", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false},
            {"id": "Email", "displayName": "Email", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false},
            {"id": "Role", "displayName": "Role", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false},
            {"id": "Job Description", "displayName": "Job Description", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false},
            {"id": "Resume", "displayName": "Resume", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false},
            {"id": "Additional Notes", "displayName": "Additional Notes", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [960, 80],
      "id": "exec-classifier-001",
      "name": "Run Interview Guide"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.BACKEND_URL || 'https://your-prepai-backend.onrender.com' }}/api/webhook/result",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ profile_id: $('Standardize Input').item.json.profile_id, qualified: true, reason: $('Qualify Candidate').item.json.message.content }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 80],
      "id": "http-callback-qualified-001",
      "name": "Callback - Qualified",
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('Standardize Input').item.json.candidate_email }}",
        "subject": "=Your application for the {{ $('Standardize Input').item.json.role }} position",
        "emailType": "text",
        "message": "=Hi {{ $('Standardize Input').item.json.candidate_name }},\n\nThank you for submitting your details for the {{ $('Standardize Input').item.json.role }} position.\n\nAfter reviewing your profile against the job requirements, I'm afraid this particular role isn't the right fit at this time.\n\nIf you come across other openings that better match your background, feel free to submit again — I'd be happy to generate a tailored prep guide for you.\n\nAll the best with your job search!\n\nBest regards,\nAbhikalp Srivastava\nInterview Prep Assistant",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [960, 360],
      "id": "gmail-rejection-001",
      "name": "Send Rejection Email",
      "webhookId": "090a198d-3279-4067-b3a5-a7785a49fce2",
      "credentials": {
        "gmailOAuth2": {
          "id": "pmkeYIM95qeuKw6I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.BACKEND_URL || 'https://your-prepai-backend.onrender.com' }}/api/webhook/result",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ profile_id: $('Standardize Input').item.json.profile_id, qualified: false, reason: $('Qualify Candidate').item.json.message.content, email_sent: false }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 360],
      "id": "http-callback-rejected-001",
      "name": "Callback - Rejected",
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Submission": {
      "main": [
        [
          {
            "node": "Standardize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize Input": {
      "main": [
        [
          {
            "node": "Qualify Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualify Candidate": {
      "main": [
        [
          {
            "node": "Candidate Qualified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate Qualified?": {
      "main": [
        [
          {
            "node": "Run Interview Guide",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Interview Guide": {
      "main": [
        [
          {
            "node": "Callback - Qualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Email": {
      "main": [
        [
          {
            "node": "Callback - Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cace84c6-0b28-4fca-abe2-780533c31603",
  "meta": {
    "instanceId": "1e3729eaa6adbc105527548952fbfd43af2e58b391553b8a1a299d47a78ab967"
  },
  "id": "d9PSA3PUAEppASIa",
  "tags": []
}
