n8n/Interview Guide Classifier and Notifier.json
{
  "name": "Interview Guide Classifier and Notifier",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Name"
            },
            {
              "name": "Email"
            },
            {
              "name": "Role"
            },
            {
              "name": "Job Description"
            },
            {
              "name": "Resume"
            },
            {
              "name": "Additional Notes"
            },
            {
              "name": "Qualified",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        208
      ],
      "id": "eac8509f-541b-4a05-8ccc-add28e05c26e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "fresher",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "812cc867-3a1d-4ba0-9bc9-81dda8b8883a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8af013c5-2844-43fc-896e-1411f27ffb59",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "mid_level",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52adf81d-f068-4697-b1dd-bdf11cc15df5",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "senior",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        192
      ],
      "id": "708015c2-534d-41ef-a855-ed76752fa28c",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('When Executed by Another Workflow').item.json.Email }}",
        "subject": "=Your Personalized Interview Preparation Guide for the {{ $('When Executed by Another Workflow').item.json.Role }} Role  Body:",
        "message": "=Hi {{ $('When Executed by Another Workflow').item.json.Name }},\n\nThank you for submitting your details. Based on your experience level and the job you're applying for, we've created a personalized interview preparation guide tailored just for you.\n\nThis guide includes:\n- A breakdown of the role and key focus areas\n- Technical topics to study with helpful resources\n- Practice questions (technical + behavioral)\n- A recommended study plan\n- Bonus tools and materials to sharpen your prep\n\nYou’ll find everything you need to build confidence and perform your best in your upcoming interview.\n\nPlease review the guide below:\n\n---\n\n{{ $json.data }}\n\n---\n\nWishing you the very best with your preparation. If you'd like to receive a mock interview or additional help, feel free to reply to this email.\n\nBest regards,  \nInterview Prep Assistant  \nabhikalpsri@gmail.com\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        0
      ],
      "id": "a7946b4b-5e94-4985-98f4-c75b3b860cf8",
      "name": "Fresher",
      "webhookId": "f9b43dff-fd9e-40f7-8234-642072b15131",
      "credentials": {
        "gmailOAuth2": {
          "id": "pmkeYIM95qeuKw6I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "d9132aca-a0ed-4d69-9094-358d7e0e499d",
      "name": "Markdown"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "a601527a-f94e-413f-bcbe-f866abb41e4b",
      "name": "Markdown1"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        368,
        400
      ],
      "id": "13c9e546-45f2-494c-b3fe-54f478a50352",
      "name": "Markdown2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('When Executed by Another Workflow').item.json.Email }}",
        "subject": "=Your Personalized Interview Preparation Guide for the {{ $('When Executed by Another Workflow').item.json.Role }} Role  Body:",
        "message": "=Hi {{ $('When Executed by Another Workflow').item.json.Name }},\n\nThank you for submitting your details. Based on your experience level and the job you're applying for, we've created a personalized interview preparation guide tailored just for you.\n\nThis guide includes:\n- A breakdown of the role and key focus areas\n- Technical topics to study with helpful resources\n- Practice questions (technical + behavioral)\n- A recommended study plan\n- Bonus tools and materials to sharpen your prep\n\nYou’ll find everything you need to build confidence and perform your best in your upcoming interview.\n\nPlease review the guide below:\n\n---\n\n{{ $json.data }}\n\n---\n\nWishing you the very best with your preparation. If you'd like to receive a mock interview or additional help, feel free to reply to this email.\n\nBest regards,  \nInterview Prep Assistant  \nabhikalpsri@gmail.com\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        208
      ],
      "id": "344cd7e1-4fc6-407a-b44e-4659868905d0",
      "name": "Mid-Level",
      "webhookId": "f9b43dff-fd9e-40f7-8234-642072b15131",
      "credentials": {
        "gmailOAuth2": {
          "id": "pmkeYIM95qeuKw6I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('When Executed by Another Workflow').item.json.Email }}",
        "subject": "=Your Personalized Interview Preparation Guide for the {{ $('When Executed by Another Workflow').item.json.Role }} Role  Body:",
        "message": "=Hi {{ $('When Executed by Another Workflow').item.json.Name }},\n\nThank you for submitting your details. Based on your experience level and the job you're applying for, we've created a personalized interview preparation guide tailored just for you.\n\nThis guide includes:\n- A breakdown of the role and key focus areas\n- Technical topics to study with helpful resources\n- Practice questions (technical + behavioral)\n- A recommended study plan\n- Bonus tools and materials to sharpen your prep\n\nYou’ll find everything you need to build confidence and perform your best in your upcoming interview.\n\nPlease review the guide below:\n\n---\n\n{{ $json.data }}\n\n---\n\nWishing you the very best with your preparation. If you'd like to receive a mock interview or additional help, feel free to reply to this email.\n\nBest regards,  \nInterview Prep Assistant  \nabhikalpsri@gmail.com\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        400
      ],
      "id": "0fc0d7b4-d694-4309-9a8d-f4c851dc54b3",
      "name": "Senior",
      "webhookId": "f9b43dff-fd9e-40f7-8234-642072b15131",
      "credentials": {
        "gmailOAuth2": {
          "id": "pmkeYIM95qeuKw6I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Prompt for Fresher-Level Model\nYou are an expert career coach and technical interviewer. You will receive the following inputs:\n\nName :{{ $('When Executed by Another Workflow').item.json.Name }}\nEmail : {{ $('When Executed by Another Workflow').item.json.Email }}\nRole the candidate is applying for :{{ $('When Executed by Another Workflow').item.json.Role }}\nJob Description/Company Details :{{ $('When Executed by Another Workflow').item.json['Job Description'] }}\nResume (including skills, projects, academic background, and internships) :{{ $('When Executed by Another Workflow').item.json.Resume }}\nAdditional Notes (preferences, interests, or specific concerns) :{{ $('When Executed by Another Workflow').item.json['Additional Notes'] }}\n\nThe candidate is a Fresher with little to no professional experience (0–2 years). Your task is to create a personalized and highly actionable Interview Preparation Guide to help this entry-level candidate succeed in their upcoming interview.\n\nYour output should be structured as follows:\n\n1. Summary of the Role\n- Briefly summarize the job description, key responsibilities, and required skills in a student-friendly tone.\n\n2. Key Technical Areas to Focus On\n- Identify 5–7 core technical topics or tools from the job description that the candidate should study.\n\n3. Provide one free high-quality link or resource for each topic (YouTube, freeCodeCamp, GeeksforGeeks, etc.).\n\n4. Project Suggestions (if portfolio is weak)\n- Suggest 1–2 small, resume-enhancing projects relevant to the job role that the candidate can build in under 2 weeks.\n\n5. Mock Questions\n- Generate 8–10 beginner-level technical questions based on the job description and candidate’s skillset.\n- Generate 3–4 behavioral questions with tips on how to answer them.\n\n6. Suggested Learning Plan (7–14 days)\n- Create a day-wise or weekly prep plan for the candidate, including time for revision, mock interviews, and hands-on practice.\n\n7. Bonus Resources\n- Share 2–3 helpful playlists, crash courses, or prep books that are free or very accessible for students.\n\nMake the tone encouraging, structured, and very beginner-friendly. Assume they’re preparing for one of their first real job interviews."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        0
      ],
      "id": "81194c4f-f5ba-4dff-b2e4-82d42f02bc0e",
      "name": "Message a Fresher Model",
      "credentials": {
        "openAiApi": {
          "id": "jSTot0m8NRHUoumT",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior interview coach and technical hiring expert. You will receive the following inputs:\n\nName: {{ $('When Executed by Another Workflow').item.json.Name }}\nEmail: {{ $('When Executed by Another Workflow').item.json.Email }}\nRole the candidate is applying for: {{ $('When Executed by Another Workflow').item.json.Role }}\nJob Description/Company Details: {{ $('When Executed by Another Workflow').item.json['Job Description'] }}\nResume (including skills, professional experience, projects, and tools used): {{ $('When Executed by Another Workflow').item.json.Resume }}\nAdditional Notes (preferences, challenges, areas of concern): {{ $('When Executed by Another Workflow').item.json['Additional Notes'] }}\n\nThe candidate is at a Mid-Level of experience (2–5 years). Your task is to create a personalized, role-specific Interview Preparation Guide to help this candidate sharpen their technical and project-based depth, and present themselves with confidence.\n\nYour output should be structured as follows:\n\n1. Role Breakdown\n- Extract and summarize the key expectations, responsibilities, and tools mentioned in the job description.\n- Explain what the interviewer will likely focus on, based on the role.\n\n2. Technical Areas to Strengthen\n- Identify 5–7 technical areas from the job description that the candidate should revise or go deeper into.\n- Provide one high-quality, hands-on or advanced resource for each (official docs, blog posts, GitHub examples, etc.).\n\n3. Systems or Architecture Focus (if applicable)\n- Suggest 1–2 small but relevant system design or architecture problems that the candidate might be asked in this role.\n\n4. Interview Questions to Practice\n- Generate 10–12 technical questions (coding, system-based, tool-specific).\n- Generate 4–5 behavioral or project-deep-dive questions based on their experience.\n\n5. Project Deep Dive Preparation\n- Suggest how they should prepare to talk about their past projects in interviews.\n- Mention what metrics or outcomes to highlight and common mistakes to avoid.\n\n6. 10-Day Study and Practice Plan\n- Build a daily or alternate-day plan including learning, practice, mock interviews, and review.\n\n7. Useful Tools\n- Recommend 2–3 tools or platforms like LeetCode, System Design Primer, or Tech Interview Handbook that are ideal for mid-level prep.\n\nKeep the tone practical, focused, and empowering. Help them balance technical rigor with confidence in presenting their real-world experience."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        208
      ],
      "id": "69e0c926-83e6-4571-9054-afac673a6dd3",
      "name": "Message a Mid-Level Model",
      "credentials": {
        "openAiApi": {
          "id": "jSTot0m8NRHUoumT",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a principal-level engineering mentor and leadership interviewer. You will receive the following inputs:\n\nName: {{ $('When Executed by Another Workflow').item.json.Name }}\nEmail: {{ $('When Executed by Another Workflow').item.json.Email }}\nRole the candidate is applying for: {{ $('When Executed by Another Workflow').item.json.Role }}\nJob Description/Company Details: {{ $('When Executed by Another Workflow').item.json['Job Description'] }}\nResume (highlighting experience, leadership, system ownership, architecture, scaling, mentoring): {{ $('When Executed by Another Workflow').item.json.Resume }}\nAdditional Notes (concerns, areas they want to focus on, special instructions): {{ $('When Executed by Another Workflow').item.json['Additional Notes'] }}\n\nThe candidate is a Senior-Level professional with 5+ years of experience. Your task is to create a personalized, strategic Interview Preparation and Positioning Guide to help them succeed in high-stakes technical and leadership interviews.\n\nYour output should be structured as follows:\n\n1. Strategic Summary of the Role\n- Analyze the job description and extract leadership expectations, technical ownership, cross-functional collaboration, and architectural impact areas.\n- Briefly describe how the role aligns with growth, scaling, or leadership paths in a senior engineer's career.\n\n2. Core Focus Areas\n- Identify 4–6 advanced topics the candidate should focus on (e.g., large-scale system design, performance optimization, engineering strategy, infrastructure resilience).\n- Provide one advanced-level resource for each (e.g., whitepapers, deep-dive articles, high-quality tech talks, or case studies).\n\n3. Architecture and Design Scenarios\n- Suggest 2–3 real-world system design scenarios relevant to the role (e.g., scaling a microservice-based system, designing a high-availability architecture, data-intensive infrastructure).\n- Optionally include prompts or questions the interviewer might ask around these.\n\n4. Metrics and Impact\n- Recommend how to frame past work in terms of business or system impact.\n- Suggest 4–5 key metrics to mention (e.g., latency improvement, traffic scalability, uptime, cost savings, hiring impact).\n\n5. Senior Behavioral and Leadership Questions\n- Generate 5–6 behavioral questions focused on decision-making, stakeholder alignment, team leadership, and mentoring.\n- Provide brief suggestions or STAR-format tips for answering them effectively.\n\n6. 7–10 Day Strategic Prep Plan\n- Create a preparation strategy that balances technical review, architecture thinking, leadership story-building, and mock discussions.\n- Emphasize reflection, system storytelling, and structured communication.\n\n7. Recommended Advanced Content\n- Suggest 2–3 high-level resources like:\n- \"Designing Data-Intensive Applications\" by Martin Kleppmann\n- Martin Fowler’s architecture blog\n- Podcasts or YouTube channels on engineering leadership or tech strategy\n\nThe tone should be sharp, executive-level, and strategic. Help the candidate focus on impact, clarity, and authority as they position themselves for high-responsibility roles."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        400
      ],
      "id": "73262bfe-ea8f-4909-b22e-6026780278f8",
      "name": "Message a Senior Model",
      "credentials": {
        "openAiApi": {
          "id": "jSTot0m8NRHUoumT",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert Interview Seniority Classifier. Based on the inputs provided below:\n\n- Name : {{ $json.Name }}  \n- Email :{{ $json.Email }}\n- Role :{{ $json.Role }}\n- Job Description :  {{ $json['Job Description'] }}\n- Resume :{{ $json.Resume }}\n- Additional Notes : {{ $json['Additional Notes'] }}\n\nYour task is to analyze the candidate’s experience and determine their professional seniority level. Carefully evaluate the resume and job description to assess the candidate’s actual work history, years of experience, depth of responsibility, and complexity of projects or roles handled.\n\nClassify the candidate into one of the following three categories, and output only the exact label—no extra text, comments, or formatting:\n\n---\n\nFresher\n- Typically has 0–2 years of professional experience.  \n- May have done internships, coursework, hackathons, academic projects, or entry-level freelance work.  \n- Roles are mostly learning-based or part of educational programs.  \n- Limited exposure to industry-standard tools or production systems.  \n- Not expected to have end-to-end project ownership or leadership responsibilities.\n\nMid-Level \n- Typically has 2–5 years of industry experience in relevant domains.  \n- Has worked independently or in small teams on real-world projects.  \n- May have owned modules, features, or parts of production systems.  \n- Shows understanding of software engineering practices and business value.  \n- May have led small initiatives or contributed significantly to medium-sized products.\n\nSenior  \n- Usually has 5+ years of experience in relevant roles.  \n- Has demonstrated leadership (technical or team), system design, architectural decisions, or mentoring.  \n- Experience includes owning large projects end-to-end, improving team processes, or making strategic decisions.  \n- Comfortable working cross-functionally and scaling systems or teams.  \n- Resume likely includes titles like “Senior Engineer,” “Lead,” “Architect,” or managerial roles.\n\n---\n\nUse your best judgment and output only one of the following (case-sensitive):  \n- fresher  \n- mid_level  \n- senior  \n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -592,
        208
      ],
      "id": "18324ea7-79ef-490b-a2e4-95a4071395b2",
      "name": "Categorize candidate",
      "credentials": {
        "openAiApi": {
          "id": "jSTot0m8NRHUoumT",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Categorize candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message a Fresher Model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a Mid-Level Model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a Senior Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Fresher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "Mid-Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown2": {
      "main": [
        [
          {
            "node": "Senior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a Fresher Model": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a Mid-Level Model": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a Senior Model": {
      "main": [
        [
          {
            "node": "Markdown2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize candidate": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dfbeed38-7299-4cb4-a3b1-b1517902a831",
  "meta": {
    "instanceId": "1e3729eaa6adbc105527548952fbfd43af2e58b391553b8a1a299d47a78ab967"
  },
  "id": "RYHD4BzieH6r5nEN",
  "tags": []
}