n8n/Interview Prep Assistant (Form Submission).json
{
  "name": "Interview Prep Assistant (Form Submission)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prepai-form-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "webhook-submit",
      "name": "Webhook",
      "webhookId": "prepai-form-submit"
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "Name", "value": "={{ $json.name || $json.body?.name || '' }}" },
            { "name": "Email", "value": "={{ $json.email || $json.body?.email || '' }}" },
            { "name": "Role", "value": "={{ $json.role || $json.body?.role || '' }}" },
            { "name": "Job Description", "value": "={{ $json.jd_text || $json.body?.jd_text || '' }}" },
            { "name": "Resume", "value": "={{ $json.resume || $json.body?.resume || $json.resume_text || $json.body?.resume_text || '' }}" },
            { "name": "Additional Notes", "value": "={{ $json.additional_notes || $json.body?.additional_notes || '' }}" },
            { "name": "Qualified", "value": true }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300],
      "id": "set-payload",
      "name": "Set Payload"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Interview Guide Classifier and Notifier"
        },
        "workflowInputs": {
          "values": [
            { "name": "Name", "value": "={{ $json.Name }}" },
            { "name": "Email", "value": "={{ $json.Email }}" },
            { "name": "Role", "value": "={{ $json.Role }}" },
            { "name": "Job Description", "value": "={{ $json['Job Description'] }}" },
            { "name": "Resume", "value": "={{ $json.Resume }}" },
            { "name": "Additional Notes", "value": "={{ $json['Additional Notes'] }}" },
            { "name": "Qualified", "value": "={{ $json.Qualified }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [740, 300],
      "id": "execute-classifier",
      "name": "Execute Classifier Workflow"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"accepted\", \"message\": \"Detailed prep guide will be sent via email. Please prepare accordingly.\" }"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 300],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Set Payload", "type": "main", "index": 0 }]]
    },
    "Set Payload": {
      "main": [[{ "node": "Execute Classifier Workflow", "type": "main", "index": 0 }]]
    },
    "Execute Classifier Workflow": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}