n8n/Interview Guide Classifier and Notifier.json
{
  "name": "Interview Guide Classifier and Notifier",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Profile ID"
            },
            {
              "name": "Name"
            },
            {
              "name": "Email"
            },
            {
              "name": "Role"
            },
            {
              "name": "Job Description"
            },
            {
              "name": "Resume"
            },
            {
              "name": "Additional Notes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        208
      ],
      "id": "eac8509f-541b-4a05-8ccc-add28e05c26e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert Interview Seniority Classifier. Based on the inputs provided below:\n\n- Name: {{ $json.Name }}\n- Email: {{ $json.Email }}\n- Role: {{ $json.Role }}\n- Job Description: {{ $json['Job Description'] }}\n- Resume: {{ $json.Resume }}\n- Additional Notes: {{ $json['Additional Notes'] }}\n\nYour task is to analyze the candidate's experience and determine their professional seniority level. Carefully evaluate the resume and job description to assess the candidate's actual work history, years of experience, depth of responsibility, and complexity of projects handled.\n\nClassify the candidate into one of the following three categories:\n\nFresher\n- Typically has 0–2 years of professional experience.\n- May have done internships, coursework, hackathons, or academic projects.\n- Limited exposure to industry-standard tools or production systems.\n\nMid-Level\n- Typically has 2–5 years of industry experience in relevant domains.\n- Has worked independently or in small teams on real-world projects.\n- May have owned modules, features, or parts of production systems.\n\nSenior\n- Usually has 5+ years of experience in relevant roles.\n- Has demonstrated leadership, system design, or architectural decisions.\n- Comfortable owning large projects end-to-end and working cross-functionally.\n\nUse your best judgment and output ONLY one of the following exact strings (case-sensitive, no extra text):\n- fresher\n- mid_level\n- senior"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -592,
        208
      ],
      "id": "18324ea7-79ef-490b-a2e4-95a4071395b2",
      "name": "Categorize candidate",
      "credentials": {
        "openAiApi": {
          "id": "jSTot0m8NRHUoumT",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "fresher",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "812cc867-3a1d-4ba0-9bc9-81dda8b8883a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8af013c5-2844-43fc-896e-1411f27ffb59",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "mid_level",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52adf81d-f068-4697-b1dd-bdf11cc15df5",
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "senior",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        192
      ],
      "id": "708015c2-534d-41ef-a855-ed76752fa28c",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert career coach and technical interviewer. You will receive the following inputs:\n\nName: {{ $('When Executed by Another Workflow').item.json.Name }}\nEmail: {{ $('When Executed by Another Workflow').item.json.Email }}\nRole the candidate is applying for: {{ $('When Executed by Another Workflow').item.json.Role }}\nJob Description/Company Details: {{ $('When Executed by Another Workflow').item.json['Job Description'] }}\nResume (including skills, projects, academic background, and internships): {{ $('When Executed by Another Workflow').item.json.Resume }}\nAdditional Notes (preferences, interests, or specific concerns): {{ $('When Executed by Another Workflow').item.json['Additional Notes'] }}\n\nThe candidate is a Fresher with little to no professional experience (0–2 years). Create a personalized and highly actionable Interview Preparation Guide structured as follows:\n\n## 1. Summary of the Role\nBriefly summarize the job description, key responsibilities, and required skills in a student-friendly tone.\n\n## 2. Key Technical Areas to Focus On\nIdentify 5–7 core technical topics or tools from the job description. For each, provide one free high-quality resource link (YouTube, freeCodeCamp, GeeksforGeeks, etc.).\n\n## 3. Project Suggestions\nSuggest 1–2 small, resume-enhancing projects relevant to the job role that can be built in under 2 weeks.\n\n## 4. Mock Interview Questions\nGenerate 8–10 beginner-level technical questions based on the job description and candidate's skillset. Then 3–4 behavioral questions with answering tips.\n\n## 5. 14-Day Study Plan\nCreate a day-wise prep plan including study time, mock practice, and hands-on work.\n\n## 6. Bonus Resources\nShare 2–3 helpful playlists or crash courses that are free and accessible for students.\n\nMake the tone encouraging, structured, and beginner-friendly."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        0
      ],
      "id": "81194c4f-f5ba-4dff-b2e4-82d42f02bc0e",
      "name": "Message a Fresher Model",
      "credentials": {
        "openAiApi": {
          "id": "jSTot0m8NRHUoumT",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior interview coach and technical hiring expert. You will receive the following inputs:\n\nName: {{ $('When Executed by Another Workflow').item.json.Name }}\nEmail: {{ $('When Executed by Another Workflow').item.json.Email }}\nRole the candidate is applying for: {{ $('When Executed by Another Workflow').item.json.Role }}\nJob Description/Company Details: {{ $('When Executed by Another Workflow').item.json['Job Description'] }}\nResume (including skills, professional experience, projects, and tools used): {{ $('When Executed by Another Workflow').item.json.Resume }}\nAdditional Notes (preferences, challenges, areas of concern): {{ $('When Executed by Another Workflow').item.json['Additional Notes'] }}\n\nThe candidate is at a Mid-Level of experience (2–5 years). Create a personalized, role-specific Interview Preparation Guide structured as follows:\n\n## 1. Role Breakdown\nExtract and summarize the key expectations, responsibilities, and tools from the job description. Explain what the interviewer will likely focus on.\n\n## 2. Technical Areas to Strengthen\nIdentify 5–7 technical areas from the job description to revise or go deeper into. Provide one high-quality, hands-on resource for each (official docs, blog posts, GitHub examples).\n\n## 3. System Design Focus\nSuggest 1–2 relevant system design or architecture problems the candidate might face in this role.\n\n## 4. Mock Interview Questions\nGenerate 10–12 technical questions (coding, system-based, tool-specific). Then 4–5 behavioral or project-deep-dive questions based on their experience.\n\n## 5. Project Deep Dive Preparation\nSuggest how to prepare to discuss past projects — what metrics to highlight and common mistakes to avoid.\n\n## 6. 10-Day Study Plan\nBuild a daily or alternate-day plan including learning, practice, mock interviews, and review.\n\n## 7. Useful Tools\nRecommend 2–3 platforms ideal for mid-level prep (LeetCode, System Design Primer, Tech Interview Handbook, etc.).\n\nKeep the tone practical, focused, and empowering."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        208
      ],
      "id": "69e0c926-83e6-4571-9054-afac673a6dd3",
      "name": "Message a Mid-Level Model",
      "credentials": {
        "openAiApi": {
          "id": "jSTot0m8NRHUoumT",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a principal-level engineering mentor and leadership interviewer. You will receive the following inputs:\n\nName: {{ $('When Executed by Another Workflow').item.json.Name }}\nEmail: {{ $('When Executed by Another Workflow').item.json.Email }}\nRole the candidate is applying for: {{ $('When Executed by Another Workflow').item.json.Role }}\nJob Description/Company Details: {{ $('When Executed by Another Workflow').item.json['Job Description'] }}\nResume (highlighting experience, leadership, system ownership, architecture, scaling, mentoring): {{ $('When Executed by Another Workflow').item.json.Resume }}\nAdditional Notes (concerns, focus areas, special instructions): {{ $('When Executed by Another Workflow').item.json['Additional Notes'] }}\n\nThe candidate is a Senior-Level professional (5+ years). Create a personalized, strategic Interview Preparation and Positioning Guide structured as follows:\n\n## 1. Strategic Role Analysis\nAnalyze the job description for leadership expectations, technical ownership, cross-functional collaboration, and architectural impact. Describe how the role aligns with a senior engineer's growth path.\n\n## 2. Core Focus Areas\nIdentify 4–6 advanced topics the candidate should focus on (large-scale system design, performance optimization, engineering strategy, infrastructure resilience). Provide one advanced-level resource for each (whitepapers, deep-dive articles, high-quality tech talks).\n\n## 3. Architecture and Design Scenarios\nSuggest 2–3 real-world system design scenarios relevant to the role. Include prompts or questions the interviewer might ask.\n\n## 4. Metrics and Impact Framing\nRecommend how to frame past work in terms of business or system impact. Suggest 4–5 key metrics to highlight (latency, scalability, uptime, cost savings, hiring impact).\n\n## 5. Senior Behavioral and Leadership Questions\nGenerate 5–6 behavioral questions focused on decision-making, stakeholder alignment, team leadership, and mentoring. Provide STAR-format tips for answering.\n\n## 6. 7-Day Strategic Prep Plan\nBalance technical review, architecture thinking, leadership story-building, and mock discussions.\n\n## 7. Advanced Resources\nSuggest 2–3 high-level resources (e.g., Designing Data-Intensive Applications, Martin Fowler's blog, engineering leadership podcasts).\n\nTone: sharp, executive-level, strategic."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        400
      ],
      "id": "73262bfe-ea8f-4909-b22e-6026780278f8",
      "name": "Message a Senior Model",
      "credentials": {
        "openAiApi": {
          "id": "jSTot0m8NRHUoumT",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "d9132aca-a0ed-4d69-9094-358d7e0e499d",
      "name": "Markdown"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "a601527a-f94e-413f-bcbe-f866abb41e4b",
      "name": "Markdown1"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        368,
        400
      ],
      "id": "13c9e546-45f2-494c-b3fe-54f478a50352",
      "name": "Markdown2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('When Executed by Another Workflow').item.json.Email }}",
        "subject": "=Your Personalized Interview Prep Guide — {{ $('When Executed by Another Workflow').item.json.Role }} (Fresher Track)",
        "emailType": "html",
        "message": "=<p>Hi {{ $('When Executed by Another Workflow').item.json.Name }},</p>\n\n<p>Thank you for submitting your details. Based on your experience level and the role you're targeting, here is your personalized interview preparation guide.</p>\n\n<p>This guide includes a role breakdown, key technical areas to study, project suggestions, practice questions, and a 14-day study plan — tailored specifically for you as an early-career candidate.</p>\n\n<hr/>\n\n{{ $json.html }}\n\n<hr/>\n\n<p>Wishing you all the best with your preparation! If you'd like additional help or a mock interview session, feel free to reply to this email.</p>\n\n<p>Best regards,<br/>\nAbhikalp Srivastava<br/>\nInterview Prep Assistant<br/>\nabhikalpsri@gmail.com</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        0
      ],
      "id": "a7946b4b-5e94-4985-98f4-c75b3b860cf8",
      "name": "Fresher",
      "webhookId": "f9b43dff-fd9e-40f7-8234-642072b15131",
      "credentials": {
        "gmailOAuth2": {
          "id": "pmkeYIM95qeuKw6I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('When Executed by Another Workflow').item.json.Email }}",
        "subject": "=Your Personalized Interview Prep Guide — {{ $('When Executed by Another Workflow').item.json.Role }} (Mid-Level Track)",
        "emailType": "html",
        "message": "=<p>Hi {{ $('When Executed by Another Workflow').item.json.Name }},</p>\n\n<p>Thank you for submitting your details. Based on your experience level and the role you're targeting, here is your personalized interview preparation guide.</p>\n\n<p>This guide covers a role breakdown, technical areas to strengthen, system design focus, mock questions, and a 10-day study plan — built around your real-world experience.</p>\n\n<hr/>\n\n{{ $json.html }}\n\n<hr/>\n\n<p>Wishing you all the best with your preparation! If you'd like additional help or a mock interview session, feel free to reply to this email.</p>\n\n<p>Best regards,<br/>\nAbhikalp Srivastava<br/>\nInterview Prep Assistant<br/>\nabhikalpsri@gmail.com</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        208
      ],
      "id": "344cd7e1-4fc6-407a-b44e-4659868905d0",
      "name": "Mid-Level",
      "webhookId": "f9b43dff-fd9e-40f7-8234-642072b15131",
      "credentials": {
        "gmailOAuth2": {
          "id": "pmkeYIM95qeuKw6I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('When Executed by Another Workflow').item.json.Email }}",
        "subject": "=Your Personalized Interview Prep Guide — {{ $('When Executed by Another Workflow').item.json.Role }} (Senior Track)",
        "emailType": "html",
        "message": "=<p>Hi {{ $('When Executed by Another Workflow').item.json.Name }},</p>\n\n<p>Thank you for submitting your details. Based on your experience level and the role you're targeting, here is your personalized strategic interview guide.</p>\n\n<p>This guide covers strategic role analysis, advanced focus areas, architecture scenarios, impact framing, senior behavioral questions, and a 7-day prep plan — designed for high-responsibility roles.</p>\n\n<hr/>\n\n{{ $json.html }}\n\n<hr/>\n\n<p>Wishing you all the best with your preparation! If you'd like additional help or a mock discussion, feel free to reply to this email.</p>\n\n<p>Best regards,<br/>\nAbhikalp Srivastava<br/>\nInterview Prep Assistant<br/>\nabhikalpsri@gmail.com</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        400
      ],
      "id": "0fc0d7b4-d694-4309-9a8d-f4c851dc54b3",
      "name": "Senior",
      "webhookId": "f9b43dff-fd9e-40f7-8234-642072b15131",
      "credentials": {
        "gmailOAuth2": {
          "id": "pmkeYIM95qeuKw6I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.BACKEND_URL || 'https://your-prepai-backend.onrender.com' }}/api/webhook/result",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ profile_id: $('When Executed by Another Workflow').item.json['Profile ID'], email_sent: true, level: 'fresher' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        0
      ],
      "id": "callback-fresher-001",
      "name": "Callback - Fresher",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.BACKEND_URL || 'https://your-prepai-backend.onrender.com' }}/api/webhook/result",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ profile_id: $('When Executed by Another Workflow').item.json['Profile ID'], email_sent: true, level: 'mid_level' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        208
      ],
      "id": "callback-mid-001",
      "name": "Callback - Mid-Level",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.BACKEND_URL || 'https://your-prepai-backend.onrender.com' }}/api/webhook/result",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ profile_id: $('When Executed by Another Workflow').item.json['Profile ID'], email_sent: true, level: 'senior' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        400
      ],
      "id": "callback-senior-001",
      "name": "Callback - Senior",
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Categorize candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize candidate": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message a Fresher Model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a Mid-Level Model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a Senior Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a Fresher Model": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a Mid-Level Model": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a Senior Model": {
      "main": [
        [
          {
            "node": "Markdown2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Fresher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "Mid-Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown2": {
      "main": [
        [
          {
            "node": "Senior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fresher": {
      "main": [
        [
          {
            "node": "Callback - Fresher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mid-Level": {
      "main": [
        [
          {
            "node": "Callback - Mid-Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Senior": {
      "main": [
        [
          {
            "node": "Callback - Senior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dfbeed38-7299-4cb4-a3b1-b1517902a831",
  "meta": {
    "instanceId": "1e3729eaa6adbc105527548952fbfd43af2e58b391553b8a1a299d47a78ab967"
  },
  "id": "RYHD4BzieH6r5nEN",
  "tags": []
}
