n8n/PrepAI_Webhook_Entry.json
{
  "name": "PrepAI Webhook Entry",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prepai-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "webhook-entry",
      "name": "Webhook",
      "webhookId": "prepai-submit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-url",
              "leftValue": "={{ $json.jd_url }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "check-jd-url",
      "name": "JD URL provided?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prepai-nytf.onrender.com/api/fetch-jd",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"jd_url\":\"{{ $('Webhook').item.json.jd_url }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 200],
      "id": "fetch-jd-backend",
      "name": "Fetch JD (PrepAI Backend)"
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "Name", "value": "={{ $('Webhook').item.json.name || $('Webhook').item.json.Name || '' }}" },
            { "name": "Email", "value": "={{ $('Webhook').item.json.email || $('Webhook').item.json.Email || '' }}" },
            { "name": "Role", "value": "={{ $('Webhook').item.json.role || $('Webhook').item.json.Role || '' }}" },
            { "name": "Job Description", "value": "={{ $json.jd_text || $('Webhook').item.json.jd_text || '' }}" },
            { "name": "Resume", "value": "={{ $('Webhook').item.json.resume || $('Webhook').item.json.Resume || '' }}" },
            { "name": "Additional Notes", "value": "={{ $('Webhook').item.json.additional_notes || $('Webhook').item.json['Additional Notes'] || '' }}" },
            { "name": "Qualified", "value": true }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 400],
      "id": "set-jd-text",
      "name": "Set (JD as text)"
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "Name", "value": "={{ $('Webhook').item.json.name || $('Webhook').item.json.Name || '' }}" },
            { "name": "Email", "value": "={{ $('Webhook').item.json.email || $('Webhook').item.json.Email || '' }}" },
            { "name": "Role", "value": "={{ $('Webhook').item.json.role || $('Webhook').item.json.Role || '' }}" },
            { "name": "Job Description", "value": "={{ $('Webhook').item.json.jd_text || $('Webhook').item.json['Job Description'] || '' }}" },
            { "name": "Resume", "value": "={{ $('Webhook').item.json.resume || $('Webhook').item.json.Resume || '' }}" },
            { "name": "Additional Notes", "value": "={{ $('Webhook').item.json.additional_notes || $('Webhook').item.json['Additional Notes'] || '' }}" },
            { "name": "Qualified", "value": true }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 500],
      "id": "set-no-fetch",
      "name": "Set (JD already text)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "Interview Guide Classifier and Notifier"
        },
        "workflowInputs": {
          "values": [
            { "name": "Name", "value": "={{ $json.Name }}" },
            { "name": "Email", "value": "={{ $json.Email }}" },
            { "name": "Role", "value": "={{ $json.Role }}" },
            { "name": "Job Description", "value": "={{ $json['Job Description'] }}" },
            { "name": "Resume", "value": "={{ $json.Resume }}" },
            { "name": "Additional Notes", "value": "={{ $json['Additional Notes'] }}" },
            { "name": "Qualified", "value": "={{ $json.Qualified }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [880, 300],
      "id": "execute-classifier",
      "name": "Execute Classifier Workflow"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"accepted\", \"message\": \"Guide will be sent to your email. Check your inbox.\" }"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 300],
      "id": "respond",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "JD URL provided?", "type": "main", "index": 0 }]]
    },
    "JD URL provided?": {
      "main": [
        [{ "node": "Fetch JD (PrepAI Backend)", "type": "main", "index": 0 }],
        [{ "node": "Set (JD already text)", "type": "main", "index": 0 }]
      ]
    },
    "Fetch JD (PrepAI Backend)": {
      "main": [[{ "node": "Set (JD as text)", "type": "main", "index": 0 }]]
    },
    "Set (JD as text)": {
      "main": [[{ "node": "Execute Classifier Workflow", "type": "main", "index": 0 }]]
    },
    "Set (JD already text)": {
      "main": [[{ "node": "Execute Classifier Workflow", "type": "main", "index": 0 }]]
    },
    "Execute Classifier Workflow": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
